---
const feeEarner = {
  firstName: "Ian",
  lastName: "Stirzaker",
  role: "Senior Partner",
  email: "ian.stirzaker@smesolicitors.co.uk",
  phone: "+44 1905 723561",
  profileURL: "ian-stirzaker",
  imageURL: "https://www.smesolicitors.co.uk/upload/team/ian-stirzaker.png",
  department: "ForYou",
};
---

<div
  class="flex flex-col justify-between bg-white md:rounded-xl md:shadow-2xl transition-all duration-300 animate-fade-in md:h-auto h-screen w-screen md:max-w-md md:mb-6">
  <div class="flex flex-col items-center">

    <!-- Image Section -->
    <div
      class="items-center text-center align-middle bg-amber-100 w-full p-8 md:rounded-t-xl">
      <img
        loading="eager"
        src={feeEarner.imageURL}
        alt="Jack Stirzaker"
        class="rounded-full w-60 h-60 mx-auto"
      />
    </div>

    <!-- Profile Section -->
    <div class="items-center text-center w-full p-8 grow h-full">
      <h1 class="text-5xl font-bold text-blue-950 mb-2">
        {feeEarner.firstName}
        {feeEarner.lastName}
      </h1>
      <h2 class="uppercase tracking-wide text-yellow-700 text-lg font-semibold">{feeEarner.role}</h2>

      <ul class="mt-5 rounded-xl border-2 border-amber-200 bg-amber-50 text-left">
        <div class="border-b-2 border-amber-300 p-4">
          <li class="flex">
            <div class="rounded-full text-center bg-blue-950 p-6 mr-4"></div>
            <div class="inline-block align-middle overflow-hidden">
              <p class="uppercase tracking-wide text-yellow-700 text-sm font-semibold">Email me</p>
              <a class="text-lg bold" href="mailto:">{feeEarner.email}</a>
            </div>
          </li>
        </div>

        <div class="p-4">
          <li class="flex">
            <div class="rounded-full text-center bg-blue-950 p-6 mr-4"></div>
            <div class="inline-block align-middle overflow-hidden">
              <p class="uppercase tracking-wide text-yellow-700 text-sm font-semibold">Call me</p>
              <a class="text-lg bold" href="tel:">{feeEarner.phone}</a>
            </div>
          </li>
        </div>
      
      </ul>
    </div>

    <!-- Links Section -->
    <div
      class="items-center text-center align-middle bg-gray-100 md:w-full w-screen sticky md:bottom-auto md:relative bottom-0 border-t-2 border-gray-200">
      <div class="divide-x divide-gray-300">
        <ul class="flex flex-row w-full justify-around gap-3 p-6 ">
          <li>
            <p>View my profile</p>
          </li>
          <li><p>Add my contact</p></li>
        </ul>
      </div>
      <div class="bg-blue-950 md:w-full w-screen p-2 md:rounded-b-xl rounded-b-none text-center">
      <p class="font-bold text-blue-100"><a href="https://www.smesolicitors.co.uk">www.smesolicitors.co.uk</a></p>
    </div>
    </div>
    

  </div>
</div>
