---
import { Image } from "astro:assets";
import bgImage from "../assets/bg-img-comp2.webp";
import logoImage from "../assets/logo.svg";
import logoImageDark from "../assets/logo_dark.svg";
import WhatsApp from "../assets/whatsApp.webp";
import Facebook from "../assets/FaceBook.webp";
import linkedIn from "../assets/LinkedIn.webp";
import Instagram from "../assets/Instagram.webp";
import { Icon } from "astro-icon/components";
---

<body
  class="bg-white md:bg-blue-50 dark:bg-smenavy-900 min-h-screen grid md:grid-cols-2 font-inter">
  <section
    class="w-full h-10 hidden md:flex items-center justify-center md:h-screen md:bg-transparent md:sticky md:top-0">
    <div class="hidden md:block w-auto h-full">
      <Image
        src={bgImage}
        alt="The SME Solicitors office at 8 Sansome Walk, Worcester."
        class="h-screen w-full object-cover"
        loading="eager"
      />
    </div>
  </section>
  <section
    class="flex md:justify-items-center top-0 lg:items-center justify-center flex-col flex-1 md:w-auto w-screen md:p-4 object-scale-down">
    <div
      class="z-10 justify-between transition-all duration-300 animate-fade-in md:h-auto w-full md:max-w-5xl p-0 md:p-6 mt-10">
      <div class="items-center">
        <!-- Image Section -->
        <div
          class="items-center text-center align-middle bg-linear-to-b w-full h-auto md:rounded-t-xl pb-8">
          <img
            src={logoImage.src}
            alt="SME Solicitors logo"
            class="h-40 mx-auto object-scale-down dark:hidden"
          />
          <img
            src={logoImageDark.src}
            alt="SME Solicitors logo"
            class="h-40 mx-auto object-scale-down hidden dark:block"
          />
        </div>

        <div class="justify-center w-full flex">
          <h2
            class="text-smenavy-500 dark:text-smenavy-50 text-3xl font-bold font-generalSans w-md text-center py-2 px-4">
            Providing personal and proactive legal solutions for you and your
            business.
          </h2>
        </div>

        <!-- Quick Links -->
        <div
          class="not-prose overflow-auto rounded-full w-fit md:mx-auto my-4 mx-4 justify-center">
          <div class="bg-gray-100 shadow-xl dark:bg-smenavy-800">
            <div class="flex overflow-x-auto">
              <div class="flex-none pl-3 py-3">
                <a href="https://gotos.me/s-wa" title="WhatsApp us">
                  <div class="flex flex-row items-center justify-center gap-3">
                    <img
                      src={WhatsApp.src}
                      alt="WhatsApp"
                      class="h-auto w-10 mx-auto object-scale-down"
                    />
                  </div>
                </a>
              </div>
              <div class="flex-none pl-3 py-3">
                <a href="https://gotos.me/s-fb" title="Like us on Facebook">
                  <div class="flex flex-row items-center justify-center gap-3">
                    <img
                      src={Facebook.src}
                      alt="Facebook"
                      class="h-auto w-10 mx-auto object-scale-down"
                    />
                  </div>
                </a>
              </div>
              <div class="flex-none pl-3 py-3">
                <a
                  href="https://gotos.me/s-li"
                  title="Connect with us on LinkedIn">
                  <div class="flex flex-row items-center justify-center gap-3">
                    <img
                      src={linkedIn.src}
                      alt="LinkedIn"
                      class="h-auto w-10 mx-auto object-scale-down"
                    />
                  </div>
                </a>
              </div>
              <div class="flex-none pl-3 py-3">
                <a href="https://gotos.me/s-ig" title="Follow us on Instagram">
                  <div class="flex flex-row items-center justify-center gap-3">
                    <img
                      src={Instagram.src}
                      alt="Instagram"
                      class="h-auto w-10 mx-auto object-scale-down"
                    />
                  </div>
                </a>
              </div>
              <div class="flex-none pl-3 py-3">
                <a
                  href="https://gotos.me/conves"
                  title="Get your free Conveyancing Estimate">
                  <div
                    class="flex flex-row items-center justify-center gap-3 bg-gray-300 dark:bg-smenavy-500 rounded-3xl px-3 py-2">
                    <strong
                      class="text-md font-medium text-gray-900 dark:text-gray-200"
                      >Conveyancing Estimate</strong
                    >
                  </div>
                </a>
              </div>
              <div class="flex-none px-3 py-3">
                <a href="https://gotos.me/careers" title="Join our team">
                  <div
                    class="flex flex-row items-center justify-center gap-3 bg-gray-300 dark:bg-smenavy-500 rounded-3xl px-3 py-2">
                    <strong
                      class="text-md font-medium text-gray-900 dark:text-gray-200"
                      >Join our team</strong
                    >
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- End Quick Links -->

      <!-- Links Section -->
      <div
        class="items-center text-center w-full p-6 bg-gray-50 dark:bg-smenavy-800 flex-col rounded-t-2xl">
        <ul
          class="rounded-2xl border-2 border-smemint-500 bg-smemint-100 dark:bg-smenavy-700 dark:border-smenavy-600 text-left">
          <li class="flex border-b-2 border-smemint-500 dark:border-smenavy-600 p-4">
            <a href="mailto:info@smesolicitors.co.uk" class="flex w-full">
              <div
                class="rounded-full align-middle text-center bg-smenavy-500 dark:bg-smenavy-500 p-3 mr-3 w-fit h-fit">
                <Icon
                  name="email"
                  class="text-xl h-6 w-6 fill-current text-smenavy-50"
                />
              </div>
              <div class="inline-block align-middle overflow-hidden">
                <p
                  class="uppercase tracking-wide text-smemint-700 dark:text-smemint-600 text-sm font-semibold">
                  Email us
                </p>
                <span
                  class="text-lg bold text-smenavy-600 dark:text-smenavy-100 md:select-all"
                  >info@smesolicitors.co.uk</span
                >
              </div>
            </a>
          </li>
          <li class="flex border-b-2 border-smemint-500 dark:border-smenavy-600 p-4">
            <a href="tel:+441905723561" class="flex w-full">
              <div
                class="rounded-full align-middle text-center bg-smenavy-500 p-3 mr-3 w-fit h-fit">
                <Icon
                  name="phone"
                  class="text-xl h-6 w-6 fill-current text-smenavy-50"
                />
              </div>
              <div class="inline-block align-middle overflow-hidden">
                <p
                  class="uppercase tracking-wide text-smemint-700 dark:text-smemint-600 text-sm font-semibold">
                  Call us
                </p>
                <span
                  class="text-lg bold text-smenavy-600 dark:text-smenavy-100 md:select-all"
                  >01905 723561</span
                >
              </div>
            </a>
          </li>
          <li class="flex border-b-2 border-smemint-500 dark:border-smenavy-600 p-4">
            <a href="https://www.smesolicitors.co.uk/" target="_blank" class="flex w-full">
              <div
                class="rounded-full align-middle text-center bg-smenavy-500 p-3 mr-3 w-fit h-fit">
                <Icon
                  name="web-profile"
                  class="text-xl h-6 w-6 fill-current text-smenavy-50"
                />
              </div>
              <div class="inline-block align-middle overflow-hidden">
                <p
                  class="uppercase tracking-wide text-smemint-700 dark:text-smemint-600 text-sm font-semibold">
                  Visit our website
                </p>
                <span
                  class="text-lg bold text-smenavy-600 dark:text-smenavy-100 md:select-all"
                  >www.smesolicitors.co.uk</span
                >
              </div>
            </a>
          </li>
          <li class="flex p-4">
            <a href="https://maps.app.goo.gl/TxDYvwy7o6Rh9GpG8" target="_blank" class="flex w-full">
              <div
                class="rounded-full align-middle text-center bg-smenavy-500 p-3 mr-3 w-fit h-fit">
                <Icon
                  name="location"
                  class="text-xl h-6 w-6 fill-current text-smenavy-50"
                />
              </div>
              <div class="inline-block align-middle overflow-hidden">
                <p
                  class="uppercase tracking-wide text-smemint-700 dark:text-smemint-600 text-sm font-semibold">
                  Find our offices
                </p>
                <span
                  class="text-lg bold text-smenavy-600 dark:text-smenavy-100 md:select-all"
                  >8 Sansome Walk, WR1 1LW</span
                >
              </div>
            </a>
          </li>
        </ul>
      </div>

      <div
        class="bg-smenavy-500 md:w-full w-full p-2 md:rounded-b-xl rounded-b-none text-center">
        <p class="font-medium text-smenavy-50 font-generalSans">
          <a href="https://www.smesolicitors.co.uk">&copy; 2025 SME Solicitors</a>
        </p>
      </div>
    </div>
  </section>
</body>